QHBoxLayout {
    min-width: 0;
}
QComboBox, QPushButton {
    min-width: 0;
}

QWidget {
    background-color: #2d2d2d;
    color: #ffffff;
}

QWidget#lessonCard {
    background-color: #3a3a3a;
    border-radius: 20px;
    border-style: outset;
    padding: 5px;
    min-height: 40px;
}

QWidget#lessonCard QLabel {
    color: #ffffff;
    background: transparent;
}

dayButton {
    background-color: #3a3a3a;
    color: #ffffff;
    border-radius: 20px;
    border-style: outset;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

dayButton:checked {
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    border-style: outset;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
}

scheduleButton {
    border-image: url(:/Icons/Dark/Resources/Icons/Dark/schedule.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

scheduleButton:checked {
    border-image: url(:/Icons/Dark/Resources/Icons/Dark/schedule_fill.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

settingsButton {
    border-image: url(:/Icons/Dark/Resources/Icons/Dark/settings.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

settingsButton:checked {
    border-image: url(:/Icons/Dark/Resources/Icons/Dark/settings_fill.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

QWidget#lessonCard QWidget {
    background: transparent;
}

QWidget#lessonCard {
    min-width: 0;
}
