QWidget {
    background-color: #f0f0f0;
    color: #3a3a3a;
}

QWidget#lessonCard {
    background-color: #ffffff;
    border-radius: 20px;
    border-style: outset;
    padding: 5px;
    min-height: 40px;
}

QWidget#lessonCard QLabel {
    color: #3a3a3a;
    background: transparent;
}

dayButton {
    background-color: #ffffff;
    color: #3a3a3a;
    border-radius: 25px;
    border-style: outset;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
}

dayButton:checked {
    background-color: #3a3a3a;
    color: #ffffff;
    border-radius: 25px;
    border-style: outset;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
}

scheduleButton {
    border-image: url(:/Icons/Light/Resources/Icons/Light/schedule.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

scheduleButton:checked {
    border-image: url(:/Icons/Light/Resources/Icons/Light/schedule_fill.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

settingsButton {
    border-image: url(:/Icons/Light/Resources/Icons/Light/settings.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

settingsButton:checked {
    border-image: url(:/Icons/Light/Resources/Icons/Light/settings_fill.svg);
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

lessonTypeBadge {
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 10px;
}

QWidget#lessonCard QWidget {
    background: transparent;
}

QWidget#lessonCard QWidget {
    background: transparent;
}
